table {
    width: 100%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-full-width {
    width: 100%;
}

.header{
    background-color: rgb(135, 137, 139);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.btn-table{
    margin: 5px; 
}
.padding-top{
    padding-top: 18px;
}